{% extends "base.html" %}
{% block title %}Question Detail{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
      السؤال
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ qa.question }}</h5>
      <p class="card-text"></p>
      <p class="card-text"><small>     {{ qa.created|date:"M. d,Y, f A" }}
   </small>
        {% for reply in qa.replies.all %}
     <div class="card-header">
          اجابة
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ reply.reply }}</h5>
          <p class="card-text"></p>
          <p class="card-text">    <small> {{ reply.created|date:"M. d,Y, f A"  }}
    </small></p> 
     <p class="card-text">    <a href="{{ reply.user.get_absolute_url }}">{{ reply.user.first_name  }}</a> من 
    </p>
    </div>
    {% empty %}
    <div class="card-header rtl">
      لا توجد اجابة حتى الآن
    </div>
{% endfor %}
  </div>
    <h1></h1>

    <div class=''>
      <form method="post" class="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="ارسل">
      </form></div>
    
{% endblock %}
