{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class='form-group'>
<form method="post" class="form-m">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="ارسل">
</form></div>

    {% for qa in qas %}
    <div class="card">
        <div class="card-header">
          سؤال
        </div>
        <div class="card-body">
          <a href="{{ qa.get_absolute_url }}">
            <h5 class="card-title">{{ qa.question }}</h5></a>
          <p class="card-text"></p>
          <p class="card-text"> <small>   {{ qa.created|date:"M. d,Y, f A" }}</small>
        </p>
        </div>
      </div>
        <h1></h1>
    {% endfor %}
{% endblock %}
